nav {
  position: fixed;
  background-color: white;
  top: 18.9%;
  left: 83.4%;
  width: 8.3%;
  height: 38.7%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

homebutton {
  width: 56%;
  padding-top: 56%;
  background-image: url("/images/navHomeButtonSelected.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10.3%;
}
resumebutton {
  width: 56%;
  padding-top: 56%;
  background-image: url("/images/navResumeButton.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10.3%;
}
worksbutton {
  width: 56%;
  padding-top: 56%;
  background-image: url("/images/navWorksButton.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10.3%;
  margin-bottom: 10.3%;
}

section {
  position: fixed;
  background-color: white;
  top: 18.9%;
  left: 32.2%;
  width: 49.4%;
  height: 80%;
  /*TODO: height expandable*/
  border-radius: 20px;
}

aside {
  position: fixed;
  background-color: red;
  top: 18.9%;
  left: 7.2%;
  width: 23.1%;
  height: 74.2%;
  border-radius: 20px;
}

#profile_image {
  position: relative;
  background-color: yellow;
  top: -20.1%;
  left: 19.5%;
  width: 60.8%;
  aspect-ratio: 1/1;
  border-radius: 20px;
}
